<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="LinkedIn Application Test Automation Test Suite">

    <listeners>
        <listener class-name="com.bridgelabz.selenium.utility.listeners.ExtentReporterNG" />
    </listeners>

    <test name="LinkedIn Test">
        <classes>
            <class name="com.bridgelabz.selenium.base.BaseClass"></class>
            <class name="com.bridgelabz.selenium.pages.Login"></class>
            <class name="com.bridgelabz.selenium.test.Log4j_And_Reports_Test"></class>

        </classes>
    </test>
</suite>